<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.devland.masterpassword.pro">

    <permission
        android:name="de.devland.masterpassword.INITIATELICENSECHECK"
        android:protectionLevel="signature" />
    <permission
        android:name="de.devland.masterpassword.SENDTOINPUTSTICK"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.devland.masterpassword.ANSWERLICENSECHECK" />
    <uses-permission android:name="de.devland.masterpassword.SENDMESSAGE" />

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:name="de.devland.masterpassword.shared.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name="de.devland.masterpassword.pro.InitiateLicenseCheckReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.devland.masterpassword.INITIATELICENSECHECK">
            <intent-filter>
                <action android:name="de.devland.masterpassword.initiatelicensecheck" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.devland.masterpassword.pro.inputstick.SendToInputStickReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.devland.masterpassword.SENDTOINPUTSTICK">
            <intent-filter>
                <action android:name="de.devland.masterpassword.sendtoinputstick" />
            </intent-filter>
        </receiver>

        <service
            android:name="de.devland.masterpassword.pro.LicenseCheckService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="de.devland.masterpassword.pro.MainActivity"
            android:label="MP Pro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".inputstick.SendToInputStickActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent"
            android:noHistory="true"
            android:excludeFromRecents="true"/>    </application>

</manifest>
