<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.devland.masterpassword.pro">

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:name="de.devland.masterpassword.shared.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name="de.devland.masterpassword.pro.LicenseCheckService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="de.devland.masterpassword.pro.MainActivity"
            android:enabled="true"
            android:label="MP Pro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".inputstick.SendToInputStickActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent" />
    </application>

</manifest>
