<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="de.devland.masterpassword.permission.INITIATELICENSECHECK"
        android:protectionLevel="signature" />
    <permission
        android:name="de.devland.masterpassword.permission.SENDTOINPUTSTICK"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.devland.masterpassword.permission.ANSWERLICENSECHECK" />
    <uses-permission android:name="de.devland.masterpassword.permission.SENDMESSAGE" />


    <application>
        <receiver
            android:name="de.devland.masterpassword.pro.InitiateLicenseCheckReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.devland.masterpassword.permission.INITIATELICENSECHECK">
            <intent-filter>
                <action android:name="de.devland.masterpassword.initiatelicensecheck" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.devland.masterpassword.pro.inputstick.SendToInputStickReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.devland.masterpassword.permission.SENDTOINPUTSTICK">
            <intent-filter>
                <action android:name="de.devland.masterpassword.sendtoinputstick" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
