<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="de.devland.masterpassword.debug.ANSWERLICENSECHECK" />
    <uses-permission android:name="de.devland.masterpassword.debug.SENDMESSAGE" />


    <application></application>

</manifest>
