<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="de.devland.masterpassword.ANSWERLICENSECHECK"
        android:protectionLevel="signature" />
    <permission
        android:name="de.devland.masterpassword.SENDMESSAGE"
        android:protectionLevel="signature" />

    <application>
    </application>

</manifest>
