<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="de.devland.masterpassword.permission.debug.ANSWERLICENSECHECK"
        android:protectionLevel="signature" />
    <permission
        android:name="de.devland.masterpassword.permission.debug.SENDMESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.devland.masterpassword.permission.debug.INITIATELICENSECHECK" />
    <uses-permission android:name="de.devland.masterpassword.permission.debug.SENDTOINPUTSTICK" />

    <application>
        <receiver
            android:name="de.devland.masterpassword.receiver.LicenseCheckReceiver"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:permission"
            android:permission="de.devland.masterpassword.permission.debug.ANSWERLICENSECHECK">
            <intent-filter>
                <action android:name="de.devland.masterpassword.answerlicensecheck" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="de.devland.masterpassword.receiver.SnackbarReceiver"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:permission"
            android:permission="de.devland.masterpassword.permission.debug.SENDMESSAGE">
            <intent-filter>
                <action android:name="de.devland.masterpassword.sendmessage" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.ianhanniballake.localstorage.LocalStorageProvider"
            android:authorities="de.devland.masterpassword.debug.provider.localstorage.documents"
            android:enabled="@bool/use_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            tools:replace="android:authorities">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
